html {
    width: 100%;
    font-family: proxima-nova, sans-serif;
    height: 5000px;
}
body {
    width: 100%;
    top: 0;
    left: 0;
    display: block;
}
header {
    background-color: black;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;
}
header img {
    height: 40%;
    width: auto;
    position: relative;
    flex-basis: content;
    margin: 5px;
    border-radius: 50%;
    top: 5px;
}
header p {
    color: white;
    font-size: 15px;
    position: relative;
    flex-basis: content;
    margin: 5px;
    top: 5px;
}
nav {
    width: 98%;
    right: 1px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 40px;
    transition: 0.1s;
    padding: 35px 10px;
    overflow: hidden;
    z-index: 4;
    background-color: white;
}
.nav-left, .nav-right {
    display: flex;
    flex-direction: row;
} 
.nav-left {
    justify-content: space-between;
    width: 60%;
    padding: 15px 10px;
}
.nav-right {
    justify-content: flex-end;
    padding: 15px 40px;
    width: 50%;
}
.nav-cent {
    font-size: 35px;
    font-weight: bolder;
    width: 40%;
    text-align: center;
}
nav a, .nav-btn::before, .nav-btn::after, .nav-btn:focus, .second-menu a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-align: center;
}
nav a:hover, .nav-btn:active, .nav.btn::after {
    cursor: pointer;
    text-decoration: underline;
}
.second-menu {
    display: none;
    width: 97%;
    left: 18px;
    height: 50px;
    position: absolute;
    border-top: grey 1.5px solid;
    top: 150px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 5;
    background-color: white;
    height: auto;
    background-color: white;
}
.second-menu a {
    min-width: 120px;
    padding: 20px 0px;
    z-index: 10;
}
.visible {
    display: flex;
}
p.small {
    font-size: 10px;
    line-height: 0.5;
}
.slide-container {
    position: relative;
    margin: auto;
    top: 160px;
    width: 95%;
}
.slide {
    display: none;
    z-index: 1;
}
.current {
    display: block;
}
.caption {
    position: absolute;
    top: 10%;
    left: 80px;
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.company-name {
    font-size: 20px;
    font-weight: bold;
}
h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 60px;
}
.explanation {
    font-size: 20px;
    line-height: 1.2;
    padding: 50px 0px;
}
.cta {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    box-shadow: -0.2px -0.2px black;
    padding: 10px;
    width: 180px;
}
.cta:hover {
    border: green solid 1px;
    color: green;
    cursor: pointer;
    font-size: 18px;;
}
.trees {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 100px;
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.trees p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    flex-grow: 1;
    margin: auto 5px;
}
.trees p.big {
    font-size: 30px;
    text-align: right;
}
.dot-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    top: 350px;
    min-height: 200px;
    justify-content: space-between;
}
.dot {
    cursor: pointer;
    height: 4px;
    width: 4px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 5px black;
    background-color: white;
    transition: background-color 0.6s ease;
}
.dot:active, .dot:hover {
    transform: scale(1.3);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.logo-container {
    margin: 170px 0px;
    height: 100px;
    width: 95%;
    position: absolute;
    left: 32px;
}
.logo-container img {
    max-width: 100%;
}
h3 {
    max-width: 96%;
    text-align: center;
    color: darkred;
    margin-top: 350px;
    font-size: 25px;
}
.shop-window-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    left: 50px;
}
.shop-window-container:hover {
    cursor: pointer;
}
.shop-window {
    width: 25%;
    padding: 10px;
    margin: 1%;
}
.img-caption {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 35%;
    text-shadow: 2px 2px black;
}
#protein-shop {
    background-image: url("protein.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#protein-shop:hover {
    transform: scale(1.1);
}
#minerals-shop {
    background-image: url("minerals.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#minerals-shop:hover {
    transform: scale(1.1);
}
#superfoods-shop {
    background-image: url("superfoods.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#superfoods-shop:hover {
    transform: scale(1.1);
}
#performance-shop {
    background-image: url("performance.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#performance-shop:hover {
    transform: scale(1.1);
}